<div>
  <h1>Inyección de Cookies</h1>
  <form id="cookieForm">
    <label>Nombre</label>
    <input type="text" name="name" />
    <br />
    <label>Correo Electronico</label>
    <input type="text" name="email" />
    <input type="submit" />
  </form>
  <button onclick="getCookie()">Obtener Cookie</button>
</div>
<script src="/js/index.js"></script>