<div>
  <h1>Registro</h1>
  <form id="registerForm">
    <table>
      <tr>
        <td>Nombre</td>
        <td><input name="first_name" /></td>
      </tr>
      <tr>
        <td>Apellido</td>
        <td><input name="last_name" /></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input name="email" /></td>
      </tr>
      <tr>
        <td>Edad</td>
        <td><input name="age" /></td>
      </tr>
      <tr>
        <td>Contraseña</td>
        <td><input type="password" name="password" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" /></td>
      </tr>
    </table>
  </form>
  <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
</div>

<script src="/js/register.js"></script>