<div>
  <h1>Login</h1>
  <form id="loginForm">
    <table>
      <tr>
        <td><label>Email</label></td>
        <td><input name="email" /></td>
      </tr>
      <tr>
        <td><label>Contraseña</label></td>
        <td><input type="password" name="password" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" /></td>
      </tr>
    </table>
  </form>
  <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
  <a href="/restore">¿Olvidaste tu contraseña?</a>
</div>
<script src="/js/login.js"></script>