<div>
  <h1>Registro</h1>
  <form id="registerForm">
    <table>
      <tr>
        <td><label>Nombre</label></td>
        <td><input name="first_name" /></td>
      </tr>
      <tr>
        <td><label>Apellido</label></td>
        <td><input name="last_name" /></td>
      </tr>
      <tr>
        <td><label>Email</label></td>
        <td><input name="email" /></td>
      </tr>
      <tr>
        <td><label>Edad</label></td>
        <td><input name="age" /></td>
      </tr>
      <tr>
        <td><label>Contraseña</label></td>
        <td><input type="password" name="password" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" /></td>
      </tr>
    </table>
  </form>
  <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>