<div>
  <h1>Password Restoration</h1>
  <form id="passRestoreForm">
    <table>
      <tr>
        <td><label>Email</label></td>
        <td><input name="email" /></td>
      </tr>
      <tr>
        <td><label>Nueva Contraseña</label></td>
        <td><input type="password" name="password" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" /></td>
      </tr>
    </table>
  </form>
</div>
<script src="/js/restore.js"></script>