<div>
  <form action="/api/users" method="POST">
    <label for="nombre">Nombre</label><br />
    <input type="text" name="nombre" /><br />

    <label for="correo"> Email</label><br />
    <input type="text" name="correo" /><br />

    <label for="contrasena">Contraseña</label><br />
    <input type="text" name="contrasena" /><br />

    <input type="submit" />
  </form>
</div>